mat-icon {
  visibility: hidden;
  width: 20px;
  height: 20px;
  display: inline-block;
}

td:hover mat-icon {
  display: inline;
  visibility: visible;
  width:15px;
  height:15px;
}

.last-column {
  width: 20%;
}
